@charset "UTF-8";
/*          ESTRUCTURA SASS
|
|– abstracts/
|   |– _variables.scss    # Variables SASS
|   |– _mixins.scss       # Mixins SASS
|
|– base/
|   |– _base.scss         # Estilos Generales
|   |– _colors.scss       # Colores Generales
|
|– layout/
|   |– _footer.scss       # Footer
|   |– _forms.scss        # Forms
|   |– _navigation.scss   # Barras de Navegación
|   |– _cards.scss        # Cards
|   |– _transitions.scss  # Transiciones / Zoom
|
|– pages/
|   |– _index.scss        # index.html - Estilos específicos
|   |– _contacto.scss     # contacto.html - Estilos específicos
|   |– _quienesSomos.scss # quienesSomos.html - Estilos específicos
|
`– main.scss              # Main SASS file
*/
body {
  font-family: 'DM Sans', sans-serif; }

html {
  position: relative;
  min-height: 100%; }

ul ol li {
  list-style: none; }

.btn {
  margin: 15px; }

.row {
  text-align: center; }

.backgroud-img {
  background-image: url(../img/pruebaFondo.png);
  background-attachment: fixed; }

.colorBGWhite {
  background-color: white; }

.colorBGUltraLight {
  background-color: #737373; }

.colorBGLight {
  background-color: #595959; }

.colorBGNormal {
  background-color: #404040; }

.colorBGDark {
  background-color: #262626; }

.colorBGUltraDark {
  background-color: #0d0d0d; }

.colorBGBlack {
  background-color: black; }

input[type=text], select, textarea {
  width: 100%;
  padding: 15px;
  border: none;
  margin-top: 15px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=email], select, textarea {
  width: 100%;
  padding: 15px;
  border: none;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #727272;
  color: white;
  padding: 15px 100px;
  margin: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  input[type=submit]:hover {
    background-color: #3d8d41; }

input[type=reset] {
  background-color: #ac5858;
  color: white;
  padding: 15px 30px;
  margin: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  input[type=reset]:hover {
    background-color: #861010; }

.formContactLabel {
  color: white; }

.form-control:focus {
  background-color: white;
  box-shadow: #737373 0px 0px 0px 0.2rem; }

.form-group {
  color: white; }

.btn-send {
  height: 70px;
  width: 150px;
  background-color: #737373;
  color: white;
  border-color: #262626;
  border-radius: 5px; }
  .btn-send:hover, .btn-send:active, .btn-send:focus {
    color: white;
    background-color: #3d8d41;
    border-color: #0d0d0d;
    box-shadow: 0 5px 10px 0px #0d0d0d;
    transition: all 0.2s ease; }

.btn-clean {
  height: 70px;
  width: 150px;
  background-color: #404040;
  color: white;
  border-color: #262626;
  border-radius: 5px; }
  .btn-clean:hover, .btn-clean:active, .btn-clean:focus {
    color: white;
    background-color: #560600;
    border-color: #0d0d0d;
    box-shadow: 0 3px 7px 0px #0d0d0d;
    transition: all 0.2s ease; }

.navbar-brand {
  font-size: 35px; }

.colorNavBar {
  padding: 15px;
  color: #ffffff;
  border-radius: 5px;
  text-align: center; }
  .colorNavBar:hover {
    background-color: #0d0d0d;
    color: white;
    text-decoration: none; }

.botonBusqueda {
  height: 30px;
  width: 100px; }

.colorBGSearchBar {
  background-color: rgba(80, 74, 74, 0.4); }

.btn-outline-success {
  color: white;
  border-color: #0d0d0d; }
  .btn-outline-success:hover {
    background-color: #3d8d41; }

.btn-outline-secondary {
  background-color: #737373;
  color: white;
  border-color: #262626;
  border-radius: 5px; }
  .btn-outline-secondary:hover {
    background-color: #560600;
    border-color: #560600;
    box-shadow: 0 5px 10px 0px #0d0d0d;
    transition: all 0.2s ease; }

.searchBar {
  padding: 10px;
  color: #ffffff;
  background-color: #404040;
  border-color: #262626;
  border-radius: 5px;
  text-align: center; }
  .searchBar:hover {
    background-color: #0d0d0d;
    border-color: #0d0d0d;
    color: white;
    text-decoration: none; }

.footer_redes {
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  background: #404040;
  text-align: center;
  color: white; }
  .footer_redes--header {
    display: flex;
    flex-flow: wrap column;
    padding: 10px 10px 0px 10px; }
    .footer_redes--header h1 {
      color: white;
      font-size: 15px;
      text-shadow: 1px 1px 2px black, 0 0 1em #560600, 0 0 0.2em #560600; }
    .footer_redes--header p {
      color: white;
      font-size: 12px; }
  .footer_redes--content {
    padding: 0px 10px; }
    .footer_redes--content a {
      text-decoration: none; }
    .footer_redes--content--links {
      margin: 15px;
      width: 5px;
      color: white;
      cursor: pointer; }
    .footer_redes--content img {
      height: 35px;
      width: 35px; }
      .footer_redes--content img:hover {
        opacity: 60%; }
      .footer_redes--content img:active {
        opacity: 100%; }
  .footer_redes--autor {
    padding-top: 15px;
    text-align: right;
    font-size: 12px;
    font-family: 'Teko', sans-serif;
    text-shadow: 2px 2px 2px #404040; }

.textoRedes:hover {
  cursor: pointer; }

.card {
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.85);
  width: 25rem;
  box-shadow: 0 5px 10px 0px rgba(161, 41, 41, 0.719), 0 8px 22px 0 rgba(161, 41, 41, 0.719); }
  .card img {
    width: 100%;
    max-height: 250px;
    object-fit: scale-down;
    object-position: center center; }
  .card .tituloHardware {
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif bold;
    padding: 50px;
    color: #0d0d0d;
    border-bottom: 3px solid #404040;
    border-top: 3px solid #404040; }
  .card .card-title {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    height: 50px;
    overflow: hidden; }
  .card .card-footer {
    object-fit: fill; }

.titularPrecio {
  font-family: 'Raleway', sans-serif;
  font-size: 17px; }

.card-footer {
  background-color: #a6a6a6; }
  .card-footer .btn-primary {
    background-color: #404040;
    border-color: #737373;
    margin-top: 5px;
    max-width: 180px;
    max-height: 49px;
    font-size: 15px; }
    .card-footer .btn-primary:hover, .card-footer .btn-primary:focus, .card-footer .btn-primary:active {
      background-color: #3d8d41 !important;
      border-color: #737373 !important;
      box-shadow: 0 5px 10px 0px #0d0d0d;
      transition: all 0.2s ease; }

.shoppingItem {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center; }
  .shoppingItem img {
    max-inline-size: 35px; }

.btn-primary:focus {
  background-color: #262626;
  border-color: #737373;
  box-shadow: #737373; }

.zoom {
  width: 350px;
  height: 200px;
  transition: all .2s ease-in-out; }

.transition {
  transform: scale(1.8); }

.productos {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  text-align: center;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.pulgarAnimado {
  -webkit-animation: action 1s infinite  alternate;
  animation: action 1s infinite  alternate; }

@-webkit-keyframes action {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-25px); } }

@keyframes action {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-25px); } }

.pulgarSize {
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */ }
  @media only screen and (max-width: 600px) {
    .pulgarSize {
      height: 80px; } }
  @media only screen and (min-width: 600px) {
    .pulgarSize {
      height: 100px; } }
  @media only screen and (min-width: 768px) {
    .pulgarSize {
      height: 120px; } }
  @media only screen and (min-width: 992px) {
    .pulgarSize {
      height: 140px; } }
  @media only screen and (min-width: 1200px) {
    .pulgarSize {
      height: auto; } }

.textConsulta {
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */ }
  @media only screen and (max-width: 600px) {
    .textConsulta {
      font-size: 17px;
      color: white;
      box-shadow: 1px solid #0d0d0d; } }
  @media only screen and (min-width: 600px) {
    .textConsulta {
      font-size: 19px;
      color: white;
      box-shadow: 1px solid #0d0d0d; } }
  @media only screen and (min-width: 768px) {
    .textConsulta {
      font-size: 22px;
      color: white;
      box-shadow: 1px solid #0d0d0d; } }
  @media only screen and (min-width: 992px) {
    .textConsulta {
      font-size: 25px;
      color: white;
      box-shadow: 1px solid #0d0d0d; } }
  @media only screen and (min-width: 1200px) {
    .textConsulta {
      padding-top: 20px;
      font-size: 30px;
      color: white;
      box-shadow: 1px solid #0d0d0d; } }

.cover-img {
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */ }
  @media (max-width: 767px) {
    .cover-img {
      background-image: url(../img/quienesSomos/quienesSomosFondo.png);
      background-size: cover;
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media only screen and (min-width: 600px) {
    .cover-img {
      background-image: url(../img/quienesSomos/quienesSomosFondo.png);
      background-size: cover;
      min-height: 150px;
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media only screen and (min-width: 768px) {
    .cover-img {
      background-image: url(../img/quienesSomos/quienesSomosFondo.png);
      background-size: cover;
      min-height: 170px;
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media only screen and (min-width: 992px) {
    .cover-img {
      background-image: url(../img/quienesSomos/quienesSomosFondo.png);
      background-size: cover;
      min-height: 230px;
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media only screen and (min-width: 1200px) {
    .cover-img {
      background-image: url(../img/quienesSomos/quienesSomosFondo.png);
      min-height: 250px;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center; } }

.banner-mh {
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */ }
  @media only screen and (max-width: 600px) {
    .banner-mh {
      font-family: 'Rubik Mono One', sans-serif;
      color: white;
      font-size: 35px;
      text-shadow: 2px 2px 2px #560600; } }
  @media only screen and (min-width: 600px) {
    .banner-mh {
      font-family: 'Rubik Mono One', sans-serif;
      color: white;
      font-size: 40px;
      text-shadow: 2px 2px 2px #560600; } }
  @media only screen and (min-width: 768px) {
    .banner-mh {
      font-family: 'Rubik Mono One', sans-serif;
      color: white;
      font-size: 45px;
      text-shadow: 2px 2px 2px #560600; } }
  @media only screen and (min-width: 992px) {
    .banner-mh {
      font-family: 'Rubik Mono One', sans-serif;
      color: white;
      font-size: 50px;
      text-shadow: 2px 2px 2px #560600; } }
  @media only screen and (min-width: 1200px) {
    .banner-mh {
      font-family: 'Rubik Mono One', sans-serif;
      color: white;
      font-size: 60px;
      text-shadow: 0px 5px 2px #560600; } }

.quienes-somos-title {
  font-family: 'Bowlby One SC', sans-serif;
  color: white;
  font-size: 40px; }

.quienes-somos-text {
  font-family: 'Bowlby One SC', sans-serif;
  color: white;
  font-size: 16px; }

.contact {
  margin-bottom: 62px;
  padding-left: 32px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-left: 5px solid #ff5e00; }

.valoresMH {
  margin-bottom: 62px;
  padding-left: 32px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-left: 5px solid #2ec21a; }

.quienes-somos-titles {
  font-size: 25px;
  color: white; }

.quienes-somos-description {
  font-size: 16px;
  color: white; }
