@charset "UTF-8";
/*          ESTRUCTURA SASS
|
|– abstracts/
|   |– _variables.scss    # Variables SASS
|   |– _mixins.scss       # Mixins SASS
|
|– base/
|   |– _base.scss         # Estilos Generales
|   |– _colors.scss       # Colores Generales
|
|– layout/
|   |– _footer.scss       # Footer
|   |– _forms.scss        # Forms
|   |– _navigation.scss   # Barras de Navegación
|   |– _cards.scss        # Cards
|
|– pages/
|   |– _index.scss        # index.html - Estilos específicos
|   |– _contacto.scss     # contacto.html - Estilos específicos
|   |– _quienesSomos.scss # quienesSomos.html - Estilos específicos
|
`– main.scss              # Main SASS file
*/
body {
  font-family: 'DM Sans', sans-serif; }

html {
  position: relative;
  min-height: 100%; }

ul ol li {
  list-style: none; }

.btn {
  margin: 15px; }

.row {
  text-align: center; }

.colorBGWhite {
  background-color: white; }

.colorBGUltraLight {
  background-color: #90b7bb; }

.colorBGLight {
  background-color: #71a2a8; }

.colorBGNormal {
  background-color: #57898e; }

.colorBGDark {
  background-color: #446a6f; }

.colorBGUltraDark {
  background-color: #304c4f; }

.colorBGBlack {
  background-color: black; }

.backgroundGradient {
  background-image: linear-gradient(180deg, #57898e 40%, #90b7bb 80%); }

input[type=text], select, textarea {
  width: 100%;
  padding: 15px;
  border: none;
  margin-top: 15px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=email], select, textarea {
  width: 100%;
  padding: 15px;
  border: none;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #727272;
  color: white;
  padding: 15px 100px;
  margin: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  input[type=submit]:hover {
    background-color: #3d8d41; }

input[type=reset] {
  background-color: #ac5858;
  color: white;
  padding: 15px 30px;
  margin: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  input[type=reset]:hover {
    background-color: #861010; }

.form-control:focus {
  background-color: white;
  box-shadow: #90b7bb 0px 0px 0px 0.2rem; }

.navbar-brand {
  font-size: 35px; }

.colorNavBar {
  padding: 15px;
  color: #ffffff;
  background-color: #446a6f;
  border-radius: 5px;
  text-align: center; }
  .colorNavBar:hover {
    background-color: #304c4f;
    color: white;
    text-decoration: none; }

.botonBusqueda {
  height: 30px;
  width: 100px; }

.btn-outline-success {
  color: white;
  border-color: #304c4f; }

.colorSearchBar {
  padding: 10px;
  color: #ffffff;
  background-color: #446a6f;
  border-radius: 5px;
  text-align: center; }
  .colorSearchBar:hover {
    background-color: #304c4f;
    color: white;
    text-decoration: none; }

.footer_redes {
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  background: #446a6f;
  text-align: center;
  color: white; }
  .footer_redes--header {
    padding: 10px; }
  .footer_redes--content {
    padding: 10px; }
    .footer_redes--content--links {
      padding: 15px;
      width: 75px;
      color: white;
      cursor: pointer; }
    .footer_redes--content a:hover {
      text-decoration: none;
      color: #90b7bb;
      cursor: pointer; }
    .footer_redes--content img:hover {
      opacity: 50%; }
    .footer_redes--content label {
      font-size: 20px; }
  .footer_redes--autor {
    text-align: right;
    font-size: 15px;
    font-family: 'Teko', sans-serif;
    text-shadow: 2px 2px 2px #57898e; }

.textoRedes:hover {
  cursor: pointer; }

.card {
  background-size: cover; }
  .card .card-img-top {
    max-height: 180px;
    width: auto;
    overflow: hidden;
    background-size: cover;
    object-fit: fill; }
    .card .card-img-top:hover {
      transition: all 1.9s ease;
      transform: scale(1.25); }
  .card .card-footer {
    object-fit: fill; }

.img-stock {
  max-height: 10px; }

.card-footer {
  background-color: #cee7e7; }
  .card-footer .btn-primary {
    background-color: #57898e;
    border-color: #90b7bb;
    margin-top: 5px; }
    .card-footer .btn-primary:hover, .card-footer .btn-primary:focus, .card-footer .btn-primary:active {
      background-color: #446a6f;
      border-color: #90b7bb;
      transition: all 0.2s ease; }

.productos {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  text-align: center;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr; }
