// Variables Globales - Colores

$color-White: white;
$color-ULight: #90b7bb;
$color-Light: #71a2a8;
$color-Normal:#57898e;
$color-Dark: #446a6f;
$color-UDark: #304c4f;
$color-Black: black;
$color-red: #861010;
$color-green: #3d8d41;
$color-grey: #727272;
$color-reset: #ac5858;
$fontSizeConstruccion: 15px;
$heightConstruccion: 5vh;

// Para darle forma al área de texto de consulta
input[type=text], select, textarea { 
    width: 100%;
    padding: 15px;
    border: none;
    margin-top: 15px;
    margin-bottom: 16px; 
    resize: vertical;
}

// Para darle forma al área del texto de correo
input[type=email], select, textarea {
    width: 100%;
    padding: 15px;
    border: none;
    margin-top: 10px;
    margin-bottom: 16px; 
    resize: vertical
}
  
// Para darle color y forma al Enviar
input[type=submit] {
    background-color: $color-grey;
    color: $color-White;
    padding: 15px 100px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
        background-color: $color-green;
    }
}
  
// Para darle color y forma al Limpiar consulta
input[type=reset] {
    background-color: $color-reset;
    color: $color-White;
    padding: 15px 30px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
        background-color: $color-red;
    }
}
// Fin formulario de contacto en contacto.html