// Dropdown List

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left: 15rem; /* 10rem is the min-width of dropdown-menu */
    margin-top:-6px;
    @media only screen and (max-width: 768px) {
        left: 0;
        top: 3rem;
    }
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);

    @media only screen and (max-width: 600px) {
        transform: none;
    }
}

.lineaDivisora {
    border-bottom: 2px solid #2ec21a;
}

// Optimización Cards de Compras
.cardsCompras{
    background-color: #a5a5a570;
    max-width: 250px;
    margin-top: 25px;
    border-radius: 30px;
    @media only screen and (max-width: 600px) {
        min-width: 260px;
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        max-width: 230px;
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        max-width: 240px;
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        max-width: 450px;
    }

    .dropdown {
        .btn-secondary, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
            background-color: $color-Normal;
            border-color: $color-Dark;
            
            &:hover, &:focus, &:active{
               background-color: $color-Dark !important; 
               border-color: $color-ULight !important;
               transition:(all .2s ease);
            }
        }

        .dropdown-menu {
            .dropdown-item:active {
                background-color: $color-Dark !important; 
                transition:(all .2s ease);
            }
        }
    }

}

.imagenCompras {
    max-height: 180px;
    max-width: 200px;
    padding: 15px 5px 0px 5px;
}

.textoLocalidad {
    @include centradoFlex;
    min-width: 150px;
    padding:10px;
}

.botonComprar {
    background-color: $color-green !important;
    border-color: none;
    box-shadow: none;
    color: white;

    &:hover, &:focus, &:active {
        background-color: $color-green !important; 
        border-color: $color-ULight !important;
        color: white;
        transition:(all .2s ease);
     }
}
