.cover-img-ofertas {
    background-image: url(../img/quienesSomos/quienesSomosFondo2.png);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Extra small devices (phones, 600px and down) */
    @media (max-width: 767px) {
        min-height: 100px;
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        min-height: 150px;
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        min-height: 170px;
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        min-height: 230px;
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        min-height: 250px;
    }
}

.banner-ofertas {
    color:white;
    text-shadow: 2px 2px 2px rgb(82, 82, 17);
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        font-size: 35px;
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        font-size: 40px;
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        font-size: 45px;
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        font-size: 50px;
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        font-size: 60px;
        text-shadow: 0px 5px 2px rgb(82, 82, 17);
    }
}