.cover-img {
    background-image: url(../img/quienesSomos/quienesSomosFondo.png);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Extra small devices (phones, 600px and down) */
    @media (max-width: 767px) {
        min-height: 100px;
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        min-height: 150px;
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        min-height: 170px;
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        min-height: 230px;
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        min-height: 250px;
    }
}

.banner-mh {
    color:white;
    text-shadow: 2px 2px 2px $color-MHRed;
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        font-size: 35px;
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        font-size: 40px;
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        font-size: 45px;
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        font-size: 50px;
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        font-size: 60px;
        text-shadow: 0px 5px 2px $color-MHRed;
    }
}

.quienes-somos-title {
    color:white;
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        font-size: 30px;
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        font-size: 32px;
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        font-size: 35px;
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        font-size: 38px;
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        font-size: 40px;
    }
}

.quienes-somos-text {
    color:white;
    font-size: 17px;
}

.contact {
    margin-bottom: 62px;
    padding-left: 32px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-left: 5px solid #ff5e00;
    
}

.valoresMH {
    margin-bottom: 62px;
    padding-left: 32px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-left: 5px solid #2ec21a;
}

.quienes-somos-titles{
    font-size: 25px;
    color: $color-White;
}

.quienes-somos-description{
    font-size: 17px;
    color: $color-White;
}
