// Footer con Metodología BEM

.footer_redes {
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    background: $color-Normal; 
    text-align: center; 
    color: $color-White;

    &--header {
        padding: 10px;
        }

    &--content {
        padding: 10px;

        &--links {
            padding: 15px;
            width: 75px;
            color: white;
            cursor: pointer;
        }
                        
            img:hover {
                background-color: $color-Dark;
                border-radius: 5px;
            }
    }
     
    &--autor{
        text-align: right;
        font-size: 15px;
        font-family: 'Teko', sans-serif;
        text-shadow: 2px 2px 2px $color-Normal;
    }
}

.textoRedes:hover {
    cursor:pointer;
}