// Footer con Metodología BEM

.footer_redes {
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    background: $color-Normal; 
    text-align: center; 
    color: $color-White;

    &--header {
        display: flex;
        flex-flow: wrap column;
        padding: 10px 10px 0px 10px;
            h1 {
                color: $color-White;
                font-size: 15px;
                text-shadow: 1px 1px 2px black, 0 0 1em $color-MHRed, 0 0 0.2em $color-MHRed;
            }
            p {
                color: $color-White;
                font-size: 12px; 
            }
    }

    &--content {
        padding: 0px 10px;

        a {
            text-decoration: none;
        }

        &--links {
            margin: 15px;
            width: 5px;
            color: white;
            cursor: pointer;
        }   
            img{
                height: 35px;
                width: 35px;
                &:hover{
                    opacity: 60%;
                }
                &:active{
                    opacity: 100%;
                }
            }
    }
     
    &--autor{
        padding-top: 15px;
        text-align: right;
        font-size: 12px;
        text-shadow: 2px 2px 2px $color-Normal;
        
        a {
            color: white;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.textoRedes:hover {
    cursor:pointer;
}