// Formulario de Consulta e Inputs
input[type=text], select, textarea { 
    width: 100%;
    padding: 15px;
    border: none;
    margin-top: 15px;
    margin-bottom: 16px; 
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 15px;
    border: none;
    margin-top: 10px;
    margin-bottom: 16px; 
    resize: vertical
}
  
input[type=submit] {
    background-color: $color-grey;
    color: $color-White;
    padding: 15px 100px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
        background-color: $color-green;
    }
}
  
input[type=reset] {
    background-color: $color-reset;
    color: $color-White;
    padding: 15px 30px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
        background-color: $color-red;
    }
}

.form-control:focus { 
    background-color: $color-White;
    box-shadow: $color-ULight 0px 0px 0px 0.2rem;
}