// Formulario de Consulta - Inputs - Form Btn
input[type=text], select, textarea { 
    width: 100%;
    padding: 15px;
    border: none;
    margin-top: 15px;
    margin-bottom: 16px; 
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 15px;
    border: none;
    margin-top: 10px;
    margin-bottom: 16px; 
    resize: vertical
}
  
input[type=submit] {
    background-color: $color-grey;
    color: $color-White;
    padding: 15px 100px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
        background-color: $color-green;
    }
}
  
input[type=reset] {
    background-color: $color-reset;
    color: $color-White;
    padding: 15px 30px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
        background-color: $color-red;
    }
}

.formContactLabel{
    color: $color-White;
}

.form-control:focus { 
    background-color: $color-White;
    box-shadow: $color-ULight 0px 0px 0px 0.2rem;
}

.form-group {
    color: $color-White;
}

.btn-send {
    height: 70px;
    width: 150px;
    background-color: $color-ULight;
    color: $color-White;
    border-color: $color-Dark;
    border-radius: 5px; 
    &:hover, &:active, &:focus{
        color: $color-White;
        background-color: $color-green;
        border-color: $color-UDark;
        box-shadow: 0 5px 10px 0px $color-UDark;
         transition:(all .2s ease);
    }
}

.btn-clean {
    height: 70px;
    width: 150px;
    background-color: $color-Normal;
    color: $color-White;
    border-color: $color-Dark;
    border-radius: 5px; 
    &:hover, &:active, &:focus{
        color: $color-White;
        background-color: $color-MHRed;
        border-color: $color-UDark;
        box-shadow: 0 3px 7px 0px $color-UDark;
         transition:(all .2s ease);
    }
}