// Logo MH (sirve como navegación)
.logoMH {
    @media (max-width: 767px) {
        max-width: 120px !important;
        padding-top: 8px;
    }
}

// Barra de Navegación - Buttons
.navbar-brand {
    font-size: 35px;
}

.colorNavBar {
    padding: 10px;
    margin: 5px;
    color: #ffffff;
    border-radius: 5px; 
    text-align: center;
    &:hover {
        background-color: $color-UDark;
        color: $color-White;
        text-decoration: none;
    }
}

// Barra de búsqueda en INDEX

.botonBusqueda {
    height: 30px;
    width: 100px;
}

.colorBGSearchBar{
    background-color: rgba(80, 74, 74, 0.4);
    position: sticky;
}

.searchBarSticky {
    position: static;
	z-index:1000;
	top: 20;
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        position:fixed;
    }
}


.btn-outline-success {
    color: $color-White;
    border-color: $color-UDark;
    &:hover{
        background-color: $color-green;
    }
}

.btn-outline-secondary{
    background-color: $color-ULight;
    color: $color-White;
    border-color: $color-Dark;
    border-radius: 5px; 
    &:hover{
        background-color: $color-MHRed;
        border-color: $color-MHRed;
        box-shadow: 0 5px 10px 0px $color-UDark;
         transition:(all .2s ease);
    }
}

.searchBar {
    padding: 10px;
    color: #ffffff;
    background-color: $color-Normal;
    border-color: $color-Dark;
    border-radius: 5px; 
    text-align: center;
    &:hover {
        background-color: $color-UDark;
        border-color: $color-UDark;
        color: $color-White;
        text-decoration: none;
    }
}

/* Scroll para ir arriba*/
#scroll-arriba {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $color-ULight;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 5px 10px 0px $color-UDark;
}

.scroll-up {
    height: 25px;
}

  #scroll-arriba:hover {
    background-color: $color-green;
  }