// Barra de Navegación - Buttons
.navbar-brand {
    font-size: 35px;
}

.colorNavBar {
    padding: 15px;
    color: #ffffff;
    border-radius: 5px; 
    text-align: center;
    &:hover {
        background-color: $color-UDark;
        color: $color-White;
        text-decoration: none;
    }
}

// Barra de búsqueda en INDEX

.botonBusqueda {
    height: 30px;
    width: 100px;
}

.colorBGSearchBar{
    background-color: rgba(80, 74, 74, 0.4);
}

.btn-outline-success {
    color: $color-White;
    border-color: $color-UDark;
    &:hover{
        background-color: $color-green;
    }
}

.btn-outline-secondary{
    background-color: $color-ULight;
    color: $color-White;
    border-color: $color-Dark;
    border-radius: 5px; 
    &:hover{
        background-color: $color-MHRed;
        border-color: $color-MHRed;
        box-shadow: 0 5px 10px 0px $color-UDark;
        transition:(all .2s ease);
    }
}

.colorSearchBar {
    padding: 10px;
    color: #ffffff;
    background-color: $color-Normal;
    border-color: $color-Dark;
    border-radius: 5px; 
    text-align: center;
    &:hover {
        background-color: $color-UDark;
        border-color: $color-UDark;
        color: $color-White;
        text-decoration: none;
    }
}