//  Estilos generales HTML

body {
    font-family: 'DM Sans', sans-serif;
}

html{
    position: relative;
    min-height: 100%;
}

ul ol li {
    list-style: none;
}

.btn {
    margin: 15px;
}

.row {
    text-align: center;
}

.backgroud-img {
    background-image: url(img/pruebaFondo.png);
    background-attachment: fixed;
}