// Colores Background
.colorBGWhite {
    background-color: $color-White;
}

.colorBGUltraLight {
    background-color: $color-ULight;
}

.colorBGLight {
    background-color: $color-Light;
}

.colorBGNormal {
    background-color: $color-Normal;
}

.colorBGDark {
    background-color: $color-Dark;
}

.colorBGUltraDark {
    background-color: $color-UDark;
}

.colorBGBlack {
    background-color: $color-Black;
}