// Mixins
@mixin centradoFlex {
    // Flex
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
}

@mixin pag-construccion {
    background-image: linear-gradient(30deg, $color-Normal 40%, $color-ULight 80%);
    letter-spacing: 5px;
    font-weight: bold;
    color: $color-grey;
}