// Variables Globales - Colores
$color-White: white;
$color-ULightCards:#a6a6a6;
$color-ULight: #737373;
$color-Light: #595959;
$color-Normal:#404040;
$color-Dark: #262626;
$color-UDark: #0d0d0d;
$color-Black: black;
$color-red: #861010;
$color-green: #3d8d41;
$color-grey: #727272;
$color-reset: #ac5858;
$color-MHRed: #560600;